@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Автосалон</h1>
    <a asp-action="index" asp-controller="CarDeal">Автомобили</a>
    <a asp-action="index" asp-controller="Manufacturers">Производители</a>
    <a asp-action="index" asp-controller="Employees">Сотрудники</a>
</div>
